nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.logo{
    width: 50%;
    height: 50%;
    float: left;
}
.g1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.g2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.g3{
    grid-column-start: 3;
    grid-column-end: 4;
}

.g4{
    grid-column-start: 4;
    grid-column-end: 5;
}


.home_grid img{
    width: 50%;
    height: 50%;
}
.home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rivers_card{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rapids_card{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.mountains{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.mountains img{
    width: 100%;
    height: 100%;
    
}
.msg{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 275px;
    justify-content: left;
    align-items: center;
}

.copy{
    grid-column-start: 1;
    grid-column-end: 2;
}
.plan{
    grid-column-start: 2;
    grid-column-end: 3;
}
.contact{
    grid-column-start: 3;
    grid-column-end: 4;
}
.social{
    justify-self: stretch;
    grid-column-start: 4;
    grid-column-end: 5;
}
.social img{
    width: 50px;
    height: 50px;
    padding: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    padding: 5%;
}