
nav a
{
    padding: 10px;
}

header h2
{
    text-decoration: underline;

}

header
{
    background-color:#023047;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header img
{
    border-radius: 50%;
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
    height: 275px;
    width: 320px;
}

header a
{
    color: #ffffff;
    text-decoration: none;
}

header a:hover
{
    color: orange;
    text-decoration: underline;
}

body
{
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a
{
    color: darkblue;
}

.textblock
{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.textblock p
{
    padding-bottom: 5%;
    text-indent: 50px;
    
}
